<#
 # Discover the current release directory from the directory
 #  of this script and the start_erl.data file
#>

$release_root_dir = Split-Path $PSScriptRoot -Parent

$boot_script="$release_root_dir\releases\<%= release_version %>\<%= release_name %>.ps1"
& $boot_script $args[0]
