<#
 # Discover the current release directory from the directory
 #  of this script and the start_erl.data file
#>

$script_dir=$PSScriptRoot
$release_root_dir = Split-Path $script_dir -Parent

$rel_vsn="<%= release_version %>"
$boot_script="$release_root_dir\releases\$rel_vsn\<%= release_name %>.ps1"
& $boot_script $args[0]
